################
# root junk    #
################
*.pcm
*ACLiC*
*so
*d
*.o
################
# afs sadness  #
################
._*
################
# general junk #
################
*~
*.dvi
*.png
*.root
*.pdf
*.log
*.aux
*.tex
*tmp*
*test*
*Test*
*.tgz
